* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: hotpink;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}